@import './variables';

.basket {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    &__container {
       justify-content: center;
       align-items: flex-start;
       display: flex;
    }
}