
@import './variables';

.basket {
    padding-top: 165px;

    &__breadcrumps {
        font-family: Mont, sans-serif;
        font-style: normal;
        font-size: 18px;        
        color: #031412;
    }

    &__title {
        font-family: Lighthaus, sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 106%;
        color: #031412;
        margin-top: 24px;
        margin-bottom: 27px;
    }
    &__table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__head {
        display: flex;
        font-family: 'Mont';
        font-size: 16px;
        line-height: 21px;
        line-height: 132%;
        color:  #A1A1A1;

        div {
            &:nth-child(1) {
                max-width: 533px;
                width: 100%;
            }

            &:nth-child(2) {
                max-width: 190px;
                width: 100%;
            }
        }
    }

    &__item {
        display: flex;
        column-gap: 33px;

        div {
            &:nth-child(1) {
                max-width: 90px;
                width: 100%;
            }

            &:nth-child(2) {
                max-width: 378px;
                width: 100%;
            }

            &:nth-child(3) {
                max-width: 158px;
                width: 100%;
            }

            &:nth-child(4) {
                max-width: 138px;
                width: 100%;
            }
        }

        h3 {
            font-size: 18px;
        }
    }
}