.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh;
    animation-name: modalopen;
    animation-duration: 1s;
  }

  .backToMain {
    max-width: 300px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #a1a1a1;
    font-weight: 600;
    font-size: 16px;
    color: #a1a1a1;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 50px;
  }

  &-header {
    position: relative;
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    text-align: center;
    padding: 20px;

    &-close-btn {
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        text-decoration: none;
        cursor: pointer;
      }
    }

    &-logo {
      width: 100px;
      margin: 5px 0 5px 0;
    }
  }

  &-body {
    position: relative;
    max-width: 446px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }

  &-form {
    max-width: 446px;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;

    &__img1 {
      position: absolute;
      width: 224.15px;
      height: 315.5px;
      left: 0;
      top: 0;
    }

    &__img2 {
      position: absolute;
      width: 212px;
      height: 169px;
    }

    &__thanks_title {
      font-family: "Lighthaus";
      font-weight: normal;
      font-size: 50px;
      color: #031412;
    }

    &__desc {
      font-size: 27px;
      color: #031412;
    }

    &__input {
      width: 100%;
      min-height: 50px;
      font-size: 16px;
      padding-left: 10px;
      color: #a1a1a1;
      border: 1px solid #a1a1a1;

      &::placeholder {
        color: #78808f;
      }
    }

    &__recover-password {
      position: relative;
      font-size: 18px;
      text-align: center;
      text-decoration: underline;
      background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
      }
    }

    &__text {
      font-size: 18px;
      color: #031412;
    }

    &__btn.btn-large {
      max-width: 100%;

      &:hover {
        background: #333;
      }
    }
  }

  &-auth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);

    p {
      font-size: 16px;
      color: #ffffff;
    }

    button {
      font-size: 16px;
      color: #ffffff;
    }
  }

  &-footer {
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    padding: 20px;
    text-align: center;

    .logo {
      width: 100px;
      margin: 10px 0 5px 0;
    }

    p {
      margin-bottom: 10px;
      font-size: 12px;
      text-align: center;
      color: #adadad;
    }
  }
  &-thanks {
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 37px;
      max-width: 478px;
      margin: 0 auto;
    }
    &__img-group {
      position: relative;
    }
    &__img1 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-35px);
      max-width: 130px;
      width: 100%;
    }
    &__img2 {
      position: relative;
      z-index: 1;
      transform: translateX(-35px);
      max-width: 200px;
      width: 100%;
    }
    &__title {
      font-family: Lighthaus;
      font-weight: normal;
      font-size: 50px;
      line-height: 105.9%;
      text-align: center;
      color: #031412;
    }
    &__desc {
      max-width: 346px;
      font-family: Mont;
      font-weight: 600;
      font-size: 27px;
      line-height: 96.4%;
      text-align: center;
      color: #031412;
    }
    &__btn.btn-large {
      max-width: 446px;
      font-weight: 800;
      font-size: 18px;
      line-height: 50px;
text-align: center;
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 996px;
  }
}
