.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

$gold: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
$gold-green: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
$primary: #031412;
$secondary: #fff;